<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hostal La Maravilla">
    <meta name="keywords" content="Hostal La Maravilla, Hostal, La Maravilla, Maravilla,Vilches, Vacaciones">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="img/mifavicon.png" />
    <title>La Maravilla</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="assets/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    {{>preloder}}

    <!-- Offcanvas Menu Section Begin -->
    {{>offcanvas}}
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    {{>header}}
    <!-- Header End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-text">
                        <h2>{{titulo}}</h2>
                        <p>{{texto}}</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">{{info1}}:</td>
                                    <td>{{direccion}}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">{{info2}}:</td>
                                    <td>{{telefono}}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">{{info3}}:</td>
                                    <td>{{correo}}</td>
                                </tr>
                                <tr>
                                    <td class="c-o">{{info4}}:</td>
                                    <td>{{casilla}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="gallery-item set-bg" data-setbg="img/gallery/marion1.jpg">
                        <div class="gi-text">
                            <h3>{{mensaje}}</h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="map">
                <iframe src="https://maps.google.com/maps?q=hostal%20la%20maravilla&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    {{>footer}}
</body>

</html>